/*Versão mobile*/
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    background-color: #F3E8EE;
}
img{
    width: 5rem;
    height: 5rem;
}
#linkedin{
    height: 4.78rem;
    margin-top: 0.2rem;
}
.menu{
    height: 10vh;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.txt-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
}
p{
    color: #3C091D;
    text-align: center;
    font-family: 'Notable', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
}
.ar1{
    height: 23vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vh;
}
.ar2{
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -22vh;
}
.circulo{
    width: 9rem;
    height: 9rem;
    background-color:  #F9F1F1;
    box-shadow: 4px 4px 4px 0px rgba(99, 20, 51, 0.50) inset;
    border-radius: 50%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
#num{
    border: none;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-color:  #F9F1F1;
    font-family: Inter;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    margin-left: 2vh;
    margin-top: 2vh;}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#butao{
    border: none;
    cursor: pointer;
    background-color: #F3E8EE;
    width: 6.3rem;
    height: 8rem;
}
#imgb{
    width: 6.3rem;
    height: 8rem;
}
#fter{
    height: 15vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
#txtfter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    font-family: 'Inter';
    color: #631433;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    img{
        width: 9rem;
        height: 9rem;
    }
    #linkedin{
        height: 8.78rem;
    }
    p{
        font-size: 6.67rem;
        letter-spacing: 0.325rem;
    }
    .ar1{
        margin-top: 8vh;
    }
    .circulo{
        width: 15rem;
        height: 15rem;
    }
    #num{
        height: 10rem;
        width: 10rem;
        font-size: 6.7rem;
        padding-left: 8px;
        margin-left: 3.4vh;
        margin-top: 3vh;
    }
    .ar2{
        margin-top: -21.7vh;
    }
    #butao{
        width: 13rem;
        height: 13rem;
        margin-right: 3vh;
    }
    #imgb {
        width: 13rem;
        height: 13rem;
    }
    #txtfter {
        font-size: 2.8rem;
    }
}
@media screen and (min-width: 1366px) and (max-width: 768px){
    p {
        font-size: 5rem;
        letter-spacing: 0.225rem;
    }
    #linkedin {
        height: 6.78rem;
        margin-top: -0.2rem;
    }
    img {
        width: 6rem;
        height: 6rem;
    }
    .circulo {
        width: 12rem;
        height: 12rem;
    }
    .ar2 {
        margin-top: -27vh;
    }
    #num {
        height: 9rem;
        width: 9rem;
        font-size: 3.7rem;
        padding-left: 9px;
        margin-left: 3vh;
        margin-top: 3vh;
    }
    #butao {
        width: 13rem;
        height: 13rem;
        margin-right: 22rem;
    }
    #imgb {
        width: 13rem;
        height: 13rem;
    }
    #txtfter {
        font-size: 2.25rem;
    }
}
@media screen and (min-width: 1920px) and (max-width: 1080px){
    #linkedin {
        height: 6.78rem;
        margin-top: 0.2rem;
    }
    img {
        width: 7rem;
        height: 7rem;
    }
    p {
        font-size: 7rem;
        letter-spacing: 0.225rem;
    }
    .circulo {
        width: 15rem;
        height: 15rem;
    }
    #num {
        height: 11rem;
        width: 11rem;
        font-size: 4.7rem;
        padding-left: 8px;
        margin-left: 3vh;
        margin-top: 3vh;
    }
    #butao {
        width: 14rem;
        height: 14rem;
        margin-right: 37rem;
    }
    #imgb {
        width: 14rem;
        height: 14rem;
    }
    #txtfter {
        font-size: 3.25rem;
    }
}